* { box-sizing: border-box; }

.cli input {
  width: 90%;
  color: white;
  border: none;
  background: transparent;
  border-bottom: 3px solid white;
  padding: 10px;
  margin: 10px;
  font-size: 25px
}
.cli {
  grid-area: footer;
}
input:focus {
  outline: none;
}
.features{
  grid-area: feature
}
.feature{
  margin: 15px;
  background-color: white;
  display: inline-block;
  padding: 15px;
}
.timer{

}
.canvas {
  height: 100%;
  background-size: 100vw;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "feature feature feature feature"
    "feature feature feature feature"
    "feature feature feature feature"
    "footer footer footer footer";
}
.app{
  height: 100vh;
}
.text-strike{
  text-decoration: line-through;
  color: gray;
}
