* { box-sizing: border-box}
h1, h2{
  margin-bottom: 0px !important;
}
.cli form {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#settings-modal{
  position: absolute;
  width: 500px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  top: 25%;
  left: 0;
  right: 0;
}
#settings-text{
  text-align: center;
}
#imask-input{
  border:none;
  background-color: inherit;
  font-size:150%;
  color: white;
  width:40%;
}
#imask-input ::placeholder{
  color: white;
}
.card i {
  color: grey;
}
.card {
  color: black;
}
.login {
  color: white;
  float:right;
  margin: 5px;
}
.header{
  grid-area: header;
  text-align: center;
}
.logo{
  width: 50px;
}
.tasklist{
  padding: 10px;
  grid-area: feature;
  display: inline-block;
}
.cli input {
  width: 90%;
  color: white;
  border: none;
  background: transparent;
  border-bottom: 3px solid white;
  padding: 10px;
  margin: 10px;
  font-size: 25px
}
.task{
  display: block !important;
  margin-top: 10px !important;
}
.cli {
  grid-area: cli;
  align-self: end;
}
.divided.list .item {
  color: rgba(255, 255, 255, 0.3);
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100%;
}
.cli.divided.list{
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}
input:focus {
  outline: none;
}
.leftbar{
  grid-area: leftbar;
  margin: 15px;
  padding: 10px;
}
#settings-modal i {
  float: right;
}
.timer{
  border-radius: 500px;
  text-align: center;
  vertical-align: middle;
  padding: 30px;
  margin: auto;
}
textarea {
  outline: none;
  resize: none;
  width: 100%;
  background-color: transparent;
  border: none;
}
.feature{
  color: white;
  justify-self:start;
  margin-left: 10px;
  grid-area: feature;
}
.feature h1{
  color: black;
}
.react-draggable{
  max-width:25%
}
#footer{
  grid-area: footer;
  align-self: end;
  margin: 3px;
  color:RGB(255, 255, 255, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
#footer .active-feature{
  color: white;
}
#feature-links-container{
  display: inline-block;
  width: 33%;
}
#feature-links{
  text-align: center;
}
#settings-link{
  display: inline-block;
  width: 33%;
  float: right;
}
#settings-link i.icon{
  float: right;
}
#photo-source {
  display: inline-block;
  width: 33%
}
.canvas {
  height: 100% !important;
  background-size: cover;
}
.app{
  height: 100vh;
}
.text-strike{
  text-decoration: line-through;
  color: gray;
}
.sidebar{
  grid-area: sidebar;
}
