//Variables
$primary-colour: #FFFBFF;
$secondary-colour: #000500;
$primary-offset-colour: #e6e6e6;
* { box-sizing: border-box}
h1, h2{
  margin-bottom: 0px !important;
}

#settings-modal{
  position: absolute;
  width: 500px;
  background-color: $primary-colour;
  margin-left: auto;
  margin-right: auto;
  top: 25%;
  left: 0;
  right: 0;
}
#settings-text{
  text-align: center;
}
#imask-input{
  border:none;
  background-color: inherit;
  font-size:150%;
  color: $primary-colour;
  width:40%;
  ::placeholder{
    color: $primary-colour;
  }
}

.card {
  color: $secondary-colour;
  resize: both;
  overflow: auto;
  i {
    color: grey;
  }
}
.login {
  color: $primary-colour;
  float:right;
  margin: 5px;
}
.header{
  text-align: center;
}
.logo{
  width: 50px;
}
.ui.card.tasklist {
  padding: 10px;
  background: transparentize($primary-colour, 0.1);
  background-size: 30px 30px;
  background-image: linear-gradient(to right, $primary-offset-colour 2px, transparent 1px), linear-gradient(to bottom, $primary-offset-colour 2px, transparent 2px);
  resize:none;
  border:none;
}
.task{
  display: block !important;
  margin-top: 10px !important;
}
label i.delete-x{
  display:none;
}
label:hover i.delete-x{
  display:inline;
}
input:focus {
  outline: none;
}
.leftbar{
  margin: 15px;
  padding: 10px;
}
#settings-modal i {
  float: right;
}
.timer{
  border-radius: 500px;
  text-align: center;
  vertical-align: middle;
  padding: 30px;
  margin: auto;
}
textarea {
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.feature{
  color: $primary-colour;
  margin-left: 10px;
  h1{
    color: $secondary-colour;
  }
}
.weather.feature h1{
  color: $primary-colour
}
.react-draggable{
  max-width:25%
}
#footer{
  align-self: end;
  margin: 3px;
  color:RGB(255, 255, 255, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  .active-feature{
    color: $primary-colour;
  }
}
#feature-links-container{
  display: inline-block;
  width: 33%;
}
#feature-links{
  text-align: center;
}
#settings-link{
  display: inline-block;
  width: 33%;
  float: right;
  i.icon{
    float: right;
  }
}
#photo-source {
  display: inline-block;
  width: 33%
}
.canvas {
  height: 100% !important;
  background-size: cover;
}
.app{
  height: 100vh;
}
.text-strike{
  text-decoration: line-through;
  color: gray;
}
